<h1 class="heading-xlarge">Show picker</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="form-group">
      <label class="form-label" for="picker">
        <strong><%= @register_name.gsub('-', ' ').capitalize %></strong> <%= @register_phase.capitalize %> <code><%= @register_field %></code> picker
      </label>
      <select class="form-control autocomplete-select" id="picker" name="picker">
        <option value="" disabled selected></option>
        <% @register_records.each do |record| %>
          <option value="<%= record.key %>"><%= record.send(@register_field.gsub('-', '_')) %></option>
        <% end %>
      </select>
    </div>

    <a href="/get-picker">Download</a>

  </div>
</div>